pandas == 1.2.4
requests == 2.25.1
bs4 == 0.0.1
beautifulsoup4 == 4.9.3
lxml == 4.6.3
yfinance == 0.1.59
streamlit == 0.84.0
numpy
matplotlib
yahooquery == 2.2.15
plotly == 4.14.3
statsmodels == 0.12.2
pmdarima == 1.8.2
scikit-learn == 0.24.2
